body {
    font-family: "Poppins", sans-serif;
    background: url(images/bg-hero-mobile.svg);
}

.cabecalho__itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0.5em 2em 0.5em;
}

.cabecalho__botao {
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0.2em 1.5em;
    background-color: #F94892;
    border-radius: 20px;
    cursor: pointer;
}

.cabecalho__botao:hover {
    background-color: #D23369;
}

.cabecalho__imagem {
    width: 35%;
}

/* INTRO */

.intro__itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5em;
}

.intro__title {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    margin: 1em 2em;
}

.intro__text {
    
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin: 1em 2em;
}

.intro__button {
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0.5em 3em;
    background-color: #F94892;
    border-radius: 25px;
    cursor: pointer;
    margin: 2em 0 2em 0;
}

.intro__image {
    width: 300px;
    margin-top: 2em;
}

.section__grow {
    margin-top: 3em;
    background-color: #FFFFFF;
}

.grow__itens {
    background-color: #F5F5F5;
    display: flex;

}

.grow__image {
    width: 300px;
}